<div class="row showbar" id="newbar">
  <div class="col-md-12">
		<h2>Editing Bar</h2>

		<%= render 'form', bar: @bar %>

		<%= link_to 'Show', @bar %> |
		<%= link_to 'Back', root_path %>
	</div>
</div>