<div id="list">
	<% @bars.each do |bar| %>
		 <style media="screen">
		  .bar-<%= bar.id %> { background-image: url(<%= bar.image %>); }
		</style>
		<%= link_to bar do
			tag.article "", :class => " bar bar-#{bar.id}" end %>
	<% end %>
</div>