<div id="list">
	<% @bars.each do |bar| %>
		 <style media="screen">
		  .bar-<%= bar.id %> { background-image: url(<%= bar.image %>); }
		</style>
		<div class="barlist">
			<%= link_to bar do
				tag.article "", :class => " bar bar-#{bar.id}" end %>
		</div>
	<% end %>
</div>