<div id="list">
	<% @bars.each do |bar| %>
		      <style media="screen">
          /*applying css within erb statement, '-' = # of bar, defined in class*/
		    		.bar-<%= bar.id %> { background-image: url(<%= bar.image %>); }
				  </style>
				  <%= link_to art do
							tag.article "", :class => " bar bar-#{bar.id}"
				  	end %>
		    <% end %>
</div>