
<div class="row home">
	<a href="#" class="col-md-1 border" id="fav">
			<div id="closefav">x</div>
			<h2 class="rotate">Favorites</h2>
			<div id="favbar">
			</div>
	</a>
	<div class="col-md-1">
		<a href="#" class="row border2" id="openlist">
				<h2 class="rotate">List</h2>
		</a>
		<a href="#" class="row border2" id="openmap">
				<h2 class="rotate">Map</h2>
		</a>
	</div>
	
	<%= render '/home/list' %>
 	<%= render '/home/map' %>

</div>
