
<div class="row home">
	<div class="col-md-1 border" id="openfav">
		<h2 class="rotate">Favorites</h2>
	</div>
	<div class="col-md-1">
		<div class="row border2">
			<h2 class="rotate">List</h2>
		</div>
		<div class="row border2">
			<h2 class="rotate">Map</h2>
		</div>
	</div>
	
	<%= render '/home/list' %>
 	<%= render '/home/map' %>

</div>
