// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
	width: 100%;
	margin: 0;
	#fav {
		border-top: 0 solid white;
		border-left: 0 solid white;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		height: 676px;
		background: linear-gradient(90deg, #000, #777);
		h2 {
			color: white;
			font-family: "Permanent Marker";
		}
		.rotate {
		  writing-mode:tb-rl;
    	transform: rotate(-180deg);
    	white-space:nowrap;
    	bottom:0;
    	width:200px;
    	height:20px;
    	margin-top: 300px;
    	margin-left: 10%;
	}
	}
	#changeview {
		background-color: silver;
		.openlist, .openmap {
			border-top: 0 solid white;
			border-left: 0 solid white;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			height: 338px;
			background: linear-gradient(90deg, #000, #444);
			h2 {
				color: white;
				font-family: "Permanent Marker";
			}
			.rotate {
				writing-mode:tb-rl;
	   	 	transform: rotate(-180deg);
	   	 	white-space:nowrap;
	   	 	bottom:0;
	   	 	width:200px;
	   	 	height:20px;
	   	 	margin-top: 150px;
	   	 	margin-left: 20%;
			}
		}
	}
	.map {
		background-color: silver;
		display: inline-block;
		text-align: center;
		width: 100%;
		height: 100%;
		padding: 10px;
		z-index: 1;
		right: 0;
		top: 0;
		img {
			max-height: 650px;
		}
	}
	.list {
		display: none;
		width: 100%;
		height: 676px;
		padding: 0;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		.eachbar {
			border-bottom: 1px solid grey;
			border-top: 1px solid grey;
			padding: 10px;
		}
		.bar {
			display: inline-block;
			width: 150px;
			height: 150px;
			background-size: cover;
			margin: 10px;
  		&:hover {
  		  background-color: #fff;
  		  opacity:.8;
  		}
		}
		p {
			margin-top: 10px;
			font-family: "Oswald";
		}
		#popnights {
			line-height: 20px;
			word-spacing: 100px;
			margin-top: 10px;
		}
		#rating {
			text-align: center;
			em {
				font-size: 13px;
			}
		}
	}
	#fav {
		width: 100%;
		#closefav {
			right: 15px;
			top: 10px;
			font-family: 'Permanent Marker';
			position: absolute;
			cursor: pointer;
			display: none;
			color: white;
		}
		#favbar {
			width: 100px;
			height: 500px;
			border: 1px solid black;
			display: none;
			margin: 50px;
			margin-top: -270px;
			z-index: 1;
		}
	}
	#openfav, .openlist, .openmap {
		// height: 100%;
		width: 100%;
	}
	#homebox {
		padding: 0;
	}
}


// ***********************************************


// mobile view of home page
.home2 {
	width: 100%;
	margin: 0;
  display: none;
	#changeview {
		background-color: silver;
		.openlist, .openmap {
			border-top: 0 solid white;
			border-left: 0 solid white;
			border-right: 1px solid black;
			width: 50%;
			height: 40px;
			background: linear-gradient( #000, #444);
			text-align: center;
			h2 {
				color: white;
				font-family: "Permanent Marker";
			}
		}
	}
	.map {
		background-color: silver;
		display: inline-block;
		text-align: center;
		width: 100%;
		height: 100%;
		padding: 10px;
		z-index: 1;
		right: 0;
		top: 0;
		img {
			max-height: 650px;
		}
	}
	.list2 {
		display: none;
		width: 100%;
		height: 676px;
		padding: 5px;;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		.barlist {
			padding: 10px;
		}
		.eachbar {
			border-bottom: 1px solid grey;
			border-top: 1px solid grey;
			padding: 10px;
		}
		.bar {
			display: inline-block;
			width: 150px;
			height: 150px;
			background-size: cover;
			margin: 10px;
  		&:hover {
  		  background-color: #fff;
  		  opacity:.8;
  		}
		}
		p {
			margin-top: 10px;
		}
		#popnights {
			line-height: 20px;
			margin-top: 10px;
		}
		#rating {
			text-align: center;
			em {
				font-size: 13px;
			}
		}
	}
	#fav2 {
		height: 40px;
		background: linear-gradient(#000, #777);
		text-align: center;
		h2 {
			color: white;
			font-family: "Permanent Marker";
		}
		#closefav2 {
			right: 15px;
			top: 10px;
			font-family: 'Permanent Marker';
			position: absolute;
			cursor: pointer;
			display: none;
			color: white;
		}
		#favbar2 {
			width: 100px;
			height: 500px;
			border: 1px solid black;
			display: none;
			margin: 50px;
			margin-top: -270px;
			z-index: 1;
		}
	}
	#openfav, .openlist, .openmap {
		// height: 100%;
		width: 100%;
	}
	#homebox {
		padding: 0;
	}
}

@media only screen and (max-width: 780px) {
  .home {
		display: none;
	}
	.home2 {
		display: inline-block;
	}
	.map {
		overflow: scroll;
	}
}
