// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
	width: 100%;
	margin: 0;
	#changeview {
		background-color: #fff;
		height: 676px;
		.openlist, .openmap {
			border-top: 0 solid #6b6969;
			border-bottom: 1px solid #6b6969;
			height: 338px;
			background: linear-gradient(90deg, #000, #222);
			h2 {
				color: white;
				font-family: "Permanent Marker";
			}
			.rotate {
				writing-mode:tb-rl;
	   	 	transform: rotate(-180deg);
	   	 	white-space:nowrap;
	   	 	bottom:0;
	   	 	width:200px;
	   	 	height:20px;
	   	 	margin-top: 150px;
	   	 	margin-left: 20%;
			}
		}
	}
	.map {
		background-color: silver;
		display: none;
		text-align: center;
		width: 100%;
		height: 676px;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: scroll;
		// overflow-x: hidden;
		img {
			max-height: 1100px;
		}
		.mapmodal {
			position: fixed;
			height: 80%;
			width: 80%;
			margin: 100px auto;
			display: none;
		}
		.maphover {
			height: 100px;
			width: 100px;
			display: none;
			position: element(#Target);
    	transform: translateY(-100%);
    	transform: translateX(100%);
    	img {
    		height: 50px;
    		width: 50px;
    	}
		}
	}
	.list {
		display: inline-block;
		width: 100%;
		height: 676px;
		padding: 0;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		#stars {
			height: 29.47px;
			width: 115px;
			background-image: url('starlist3.png');
			background-position: left;
			background-size: 115px 29.47px;
			overflow: hidden;
		}
		#addfav {
				height: 20px;
				display: inline-block;
				margin-left: 10px;
			}
		.eachbar {
			border-bottom: 1px solid grey;
			border-top: 1px solid grey;
			padding: 10px;
		}
		.bar {
			display: inline-block;
			width: 150px;
			height: 150px;
			background-size: cover;
			margin: 10px;
  		&:hover {
  		  background-color: #fff;
  		  opacity:.8;
  		}
		}
		p {
			margin-top: 10px;
			font-family: "Oswald";
		}
		#popnights {
			line-height: 20px;
			word-spacing: 100px;
			margin-top: 10px;
		}
		#rating {
			text-align: center;
			em {
				font-size: 13px;
			}
		}
	}
	#fav {
		width: 100%;
		height: 676px;
		position: relative;
		background: linear-gradient(90deg, #000, #222);
		padding:0;
		h2 {
			color: white;
			font-family: "Permanent Marker";
		}
		.rotate {
			writing-mode:tb-rl;
    	transform: rotate(-180deg);
    	white-space:nowrap;
    	bottom:0;
    	width:200px;
    	height:20px;
    	margin-top: 300px;
    	margin-left: 2%;
    	margin-right: 0;
    	z-index:0;
    	position: relative;
		}
		#closefav {
			right: 15px;
			top: 10px;
			font-family: 'Permanent Marker';
			position: absolute;
			cursor: pointer;
			display: none;
			color: white;
		}
		#favbar {
			width: 60%;
			height: 500px;
			// border: 1px solid black;
			display: none;
			margin: 50px;
			position: absolute;
			margin-top: -270px;
			z-index: 1;
			margin-right: 3%;
			overflow: scroll;
			padding: 10px;
		}
		button {
			display: block;
			margin-bottom: 20px;
			background-color: none;
			background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      font-family: 'Permanent Marker';
      text-align: left;
      font-size: 18px;
      h4 {
			color: #969696;
			&:hover {
    		color: #fff;
    	  }
    	&:onclick {
    		color: #fff;
    	  }
			}
		}
	}
	#openfav, .openlist, .openmap {
		// height: 100%;
		width: 100%;
	}
	#homebox {
		padding: 0;
	}
}
