// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin:0;
	padding: 0;
}

header {
	height: 150px;
	width: 100%;
	background: linear-gradient(90deg, #000,#452ADE);
	padding: 40px;
	h1 {
		margin: 10px;
		color: white;
	}
	a {
		text-decoration-line: none;
		text-decoration-color: none;
		width: 150px;
		border: 1px solid black;
		color: white;
		padding: 5px;
	}
}
.container-fluid {
	padding: 0;
}
#sibox, #subox{
	width: 600px;
	height: 350px;
	background-color: rgba(100,100,100,0.9);
	border: 2px solid grey;
	padding: 30px 50px;
	border-radius: 25px;
	position: fixed;
	top: 25%;
	left: 25%;
	display: none;
	text-align: center;
	z-index: 1;
	input, label {
		display: block;
		margin: 5px auto;
	}
	#close{
		right: 15px;
		top: 10px;
		font-family: 'Montserrat';
		position: absolute;
		cursor: pointer;
	}
}




