// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin:0;
	padding: 0;
}
a {
		text-decoration-line: none;
		text-decoration-color: none;
}
header {
	height: 150px;
	width: 100%;
	background: linear-gradient(90deg, #000, #000, #3b0071);
	padding: 40px;
	h1 {
		margin: 10px;
		font-size: 40px;
		color: white;
		font-family: "Permanent Marker";
	}
	h2 {
		font-family: "Permanent Marker";
	}
	a {
		width: 150px;
		border: 1px solid black;
		color: white;
		padding: 5px;
	}
	// img {
	// 	width: 200px;
	// }
}
.container-fluid {
	padding: 0;
}
#sibox{
	display: none;
}
#subox {
	display: none;
}
#sibox, #subox{
	width: 600px;
	height: 300px;
	background-color: rgba(100,100,100,0.5);
	border: 2px solid grey;
	padding: 30px 50px;
	// border-radius: 25px;
	position: fixed;
	top: 25%;
	left: 25%;
	text-align: center;
	font-family: "Permanent Marker";
	z-index: 2;

	.button {
		-webkit-appearance: button;
		width: 50px;
		height: 25px;
		font-family: "Permanent Marker";
		margin: 10px auto;
		background: lighten(gray, 3%);  
    	border: 1px solid darken(gray, 4%);
    	box-shadow: 0px 2px 0 darken (gray, 5%), 2px 4px 6px darken(gray, 2%);
    	font-weight: 900;
    	letter-spacing: 1px;
    	transition: all 150ms linear;
    	cursor: pointer;
		}
			.button:hover {
				background: darken(gray, 1.5%);
    			border: 1px solid rgba(#000, .05);
    			box-shadow: 1px 1px 2px rgba(#fff, .2);
    			color: lighten(gray, 18%); 
    			text-decoration: none;
    			text-shadow: -1px -1px 0 darken(gray, 9.5%);
    			cursor: pointer;
    			transition: all 250ms linear;
			}

	#close, #close2{
		right: 15px;
		top: 10px;
		font-family: 'Permanent Marker';
		position: absolute;
		cursor: pointer;
	}
}
#signup {
	display: inline-block;
	font-family: "Permanent Marker";
	text-align: center;
	background: lighten(#452ADE, 3%);  
  border: 1px solid darken(#452ADE, 4%);
  box-shadow: 0px 2px 0 darken (#452ADE, 5%), 2px 4px 6px darken(#452ADE, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  cursor: pointer;
  }

  #signup:hover {
    background: darken(#452ADE, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten(gray, 18%); 
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(#452ADE, 9.5%);
    cursor: pointer;
    transition: all 250ms linear;
  }
#signin {
	display: inline-block;
	font-family: "Permanent Marker";
	text-align: center;
	background: lighten(#452ADE, 3%);  
  border: 1px solid darken(#452ADE, 4%);
  box-shadow: 0px 2px 0 darken (#452ADE, 5%), 2px 4px 6px darken(#452ADE, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  cursor: pointer;
  }
  #signin:hover {
    background: darken(#452ADE, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten(gray, 18%); 
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(#452ADE, 9.5%);
    cursor: pointer;
    transition: all 250ms linear;
  }


 
