// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin:0;
	padding: 0;
}
a {
		text-decoration-line: none;
		text-decoration-color: none;
}
header {
	height: 150px;
	width: 100%;
	background: linear-gradient(90deg, #000, #000, #452ADE);
	padding: 40px;
	h1 {
		margin: 10px;
		font-size: 40px;
		color: white;
		font-family: "Permanent Marker";
	}
	h2 {
		font-family: "Permanent Marker";
	}
	a {
		width: 150px;
		border: 1px solid black;
		color: white;
		padding: 5px;
	}
}
.container-fluid {
	padding: 0;
}
#sibox, #subox{
	width: 600px;
	height: 250px;
	background-color: rgba(100,100,100,0.5);
	border: 2px solid grey;
	padding: 30px 50px;
	// border-radius: 25px;
	position: fixed;
	top: 25%;
	left: 25%;
	display: none;
	text-align: center;
	font-family: "Permanent Marker";
	z-index: 1;

	.button {
		display: inline-block;
		font-family: "Permanent Marker";
		margin: 5px auto;
	}
	#close, #close2{
		right: 15px;
		top: 10px;
		font-family: 'Permanent Marker';
		position: absolute;
		cursor: pointer;
	}
}
#signup {
	display: inline-block;
	font-family: "Permanent Marker";
	text-align: center;
	background: lighten(#452ADE, 3%);  
    border: 1px solid darken(#452ADE, 4%);
    box-shadow: 0px 2px 0 darken (#452ADE, 5%), 2px 4px 6px darken(#452ADE, 2%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
    cursor: pointer;
  }

  #signup:hover {
    background: darken(#452ADE, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten(gray, 18%); 
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(#452ADE, 9.5%);
    cursor: pointer;
    transition: all 250ms linear;
  }
#signin {
	display: inline-block;
	font-family: "Permanent Marker";
	text-align: center;
	background: lighten(#452ADE, 3%);  
    border: 1px solid darken(#452ADE, 4%);
    box-shadow: 0px 2px 0 darken (#452ADE, 5%), 2px 4px 6px darken(#452ADE, 2%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
    cursor: pointer;
  }

  #signin:hover {
    background: darken(#452ADE, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten(gray, 18%); 
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(#452ADE, 9.5%);
    cursor: pointer;
    transition: all 250ms linear;
  }


 
