// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media only screen and (max-width: 780px) {
  .home {
		display: none;
	}
	.home2 {
		display: inline-block;
	}
	.map {
		overflow: scroll;
	}
	header img {
		max-height: 70px;
		margin-top: 30px;
		margin-left: 0;
	}
	#session_links {
		width: 175px;
	}
}
