.rating {
	height: 29px;
	width: 118px;
	display: none;
	// background-color: silver;
	.star1, .star2, .star3, .star4, .star5 {
		height: 29.47px;
		width: 22px;
		background-image: url('starlist4.png');
		background-position: -1px;
		background-size: 115px 29.47px;
		overflow: hidden;
		display: inline-block;
		margin: -1px;
		// cursor: pointer;
		// background-color: silver;
	}
}