<header>
<!-- <img src="/assets/WhereNextLogo.png"> -->
 			<div class="container">
 				<div class="row">
	 				<div class="col-md-8">
	 					<<!-- h1>Where Next</h1> -->
<!-- 	 					<img src="/assets/WhereNextLogo.png"> -->
	 				</div>
	 				<div class="col-md-2">
	 					<%= link_to 'Sign Up', '#', :id => 'signup' %>
          </div>
          <div class="col-md-2">
	 					<%= link_to 'Sign In', '#', :id => 'signin' %>
          </div>
 				</div>		
 			</div>
 		</header>